package components

templ Footer() {
	<footer class="footer footer-center p-10 bg-primary-content ">
		<aside>
			<i class="fa-solid fa-list-check bg-white"></i>
			<p class="font-bold">Task Manager Web</p>
		</aside>
	</footer>
}
