package components

templ Footer() {
	<footer class="footer footer-center p-10 bg-primary text-primary-content">
		<aside>
			<i class="fa-solid list-check fa-xl"></i>
			<p class="font-bold">Task Manager Web</p>
		</aside>
	</footer>
}
