package validates

import ()

templ ValidatePassword(isPasswordValid bool, message string) {
	if isPasswordValid {
		<div id="password-status">
			<span>✅</span>
		</div>
	} else {
		<div id="password-status" class="tooltip tooltip-left" data-tip={ message }>
			<span>❌</span>
		</div>
	}
}
